:root {
    --primary-color: #005f73;
    --secondary-color: #94d2bd;
    --text-color: #333;
    --background-color: #f0f4f8;
    --accent-color: #ee9b00;
    --accent2-color: #ca6702;
    --font-heading: 'Merriweather', serif;
    --font-body: 'Roboto', sans-serif;
}

body {
    font-family: var(--font-body);
    color:var(--text-color);
    background-color: var(--background-color);
    margin:0;
    padding:0;
    max-width:1200px;
    margin:auto;
}

header {
    display:block;
    justify-content:center;
    align-items: center;
    padding:1rem;
    background-color: var(--primary-color);
    color:white;
}

header .logo {
    max-width: 150px;;
}

nav a {
    color: white;
    margin: 0 1rem;
    text-decoration: none;
    font-weight:bold;
}

.hero {
    position:relative;
    text-align: center;
}

.hero img.hero-img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position:absolute;
    top:20%;
    left:50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 1rem;
    font-family: var(--font-heading);
}

.hero article {
    position:absolute;
    bottom: 10%;
    left:10%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1rem;
    border-radius: 20px;
}

.hero article img.client-img {
    float: right;
    max-width: 150px;
    margin-left: 1rem;
    border-radius: 50%;
}

footer {
    background-color: var(--secondary-color);
    padding:1rem;
    text-align: center;
    color:white;
}

footer a {
    margin: 0 0.5rem
}

footer a img {
    width: 30px;
    text-decoration: none;
}

