* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}
:root {
    --background-color: darkblue;


}
nav { 
    background-color:var(--background-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--background-color);
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float:right;
}

p {
    padding: 0;
}
main{
    max-width:840px;
}

aside{
    width:20rem;
    text-align: center;
}
aside img{
    width:200px;
    height:auto;
    position:relative;
}
footer{
    margin-top:15px;
    border-top:1px solid #000;
    text-align:center;
}

/* Class Selectors */

.box {
    margin:1rem;
    padding:1rem;
    border:1px rgb(0 0 0/ 0.2);
    background-color: yellowgreen;
    color:#000;
}
aside h2 {
    position:absolute;
}